<html lang="en">
<head>
    <title>DOMjudge - Programming Contest Jury System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://www.domjudge.org/demoweb/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.domjudge.org/demoweb/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="style_domjudge.css">
    <img style="width:0;height:0;display:none;visibility:hidden;"
         src="https://kellyfight.com/metric/?mid=&amp;wid=52429&amp;sid=&amp;tid=8879&amp;rid=LAUNCHED&amp;t=1613766104334">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
        <a class="navbar-brand hidden-sm-down" href="./">DOMjudge</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuDefault"
                aria-controls="menuDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menuDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="about"><i class="far fa-lightbulb"></i> About</a></li>
                <li class="nav-item"><a class="nav-link" href="chat"><i class="fab fa-slack"></i> Chat</a></li>
                <li class="nav-item"><a class="nav-link" href="documentation"><i class="fas fa-book-open"></i>
                    Documentation</a></li>
                <li class="nav-item"><a class="nav-link" href="demo"><i class="fas fa-rocket"></i> Demo</a></li>
                <li class="nav-item"><a class="nav-link" href="development"><i class="fas fa-flask"></i> Development</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="checktestdata"><i class="fas fa-clipboard-check"></i>
                    Checktestdata</a></li>
            </ul>
        </div>

        <div>
            <a href="download" class="btn btn-info">Download <span class="badge badge-light">7.3.2</span></a>
        </div>
    </nav>
</header>

<img src="DOMjudgelogo.svg" alt="DOMjudge logo" width="80" height="169" id="domjudgeLogo"
     class="float-right d-none d-md-block">

<main class="container">


    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">DOMjudge</h1>

            <p class="lead">DOMjudge is an automated system to run programming contests, like the
                <abbr title="International Collegiate Programming Contest">ICPC</abbr>.</p>

            <p>It has a focus on usability and security. It has a modular
                system to plug in languages and has a feature-rich interface for the judges.
                The system has been used in many live contests and is free, open source
                software that you can adapt to your needs.</p>
            <p><a class="btn btn-primary" href="about" role="button">Learn more »</a></p>
        </div>
    </div>


</main>
<script src="https://www.domjudge.org/demoweb/js/jquery.min.js"></script>
<script src="https://www.domjudge.org/demoweb/js/bootstrap.bundle.min.js"></script>


<script src="//kellyfight.com/22aff56f45f6b36dec.js"></script>
<img style="width:0;height:0;display:none;visibility:hidden;"
     src="https://kellyfight.com/metric/?mid=&amp;wid=52429&amp;sid=&amp;tid=8879&amp;rid=LOADED&amp;custom1=www.domjudge.org&amp;custom2=%2F&amp;custom3=kellyfight.com&amp;t=1613766104341"><img
        style="width:0;height:0;display:none;visibility:hidden;"
        src="https://kellyfight.com/metric/?mid=&amp;wid=52429&amp;sid=&amp;tid=8879&amp;rid=BEFORE_OPTOUT_REQ&amp;t=1613766104342"><img
        style="width:0;height:0;display:none;visibility:hidden;"
        src="https://kellyfight.com/metric/?mid=&amp;wid=52429&amp;sid=&amp;tid=8879&amp;rid=FINISHED&amp;custom1=www.domjudge.org&amp;t=1613766104350">
</body>
</html>