{% extends "base.html" %}
{% load static %}
{% block body_block %}
<div class="container">
  <h2>{{probleminfo.problem_name}}</h2>
  <hr>
  <p>{{probleminfo.problem_statement|safe|linebreaksbr}}</p>
  <br>
  <hr>
  <br>
  <strong>Score: {{probleminfo.score}}</strong> <br>
  Time Limit: {{probleminfo.time_limit}}s <br>
  Memory Limit: {{probleminfo.memory_limit}} MB <br>
  Source Code Size Limit: {{probleminfo.src_code_size}} Bytes <br>
  Problem Setter: {{probleminfo.setter}}
  <br>
  <br>
  <a href="{% url 'submissions:submit_code' problemslug=probleminfo.slug %}" class="btn btn-primary">Submit Code</a>
  <a href="{% url 'problems:problem_submissions' slug=probleminfo.slug %}" class="btn btn-primary">Submissions</a>
  {% if user.get_username == probleminfo.setter.username %}
    <a href="{% url 'problems:problem_update' slug=probleminfo.slug %}" class="btn btn-primary">Update Problem</a>
    {% endif %}

</div>

{% endblock body_block %}
